In [ ]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

In [ ]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

In [11]:
import os
import argparse

from time import time

import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('green_tripdata_2019-10.csv.gz')
df2 = pd.read_csv('taxi_zone_lookup.csv')

C:\Users\Powernet\AppData\Local\Temp\ipykernel_14136\219468995.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv.gz')

In [4]:
df.describe()

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
count,387007.000000,387007.000000,476386.000000,476386.000000,387007.000000,476386.000000,476386.000000,476386.000000,476386.000000,476386.000000,476386.000000,0.0,476386.000000,476386.000000,387007.000000,387005.000000,387007.000000
mean,1.833509,1.102104,108.789746,129.697575,1.308302,3.543614,15.782716,0.844550,0.486164,0.983024,0.317710,NaN,0.240391,18.986092,1.454666,1.023294,0.451301
std,0.372521,0.727587,71.420448,76.351002,0.967869,4.168409,14.100716,1.135181,0.089725,1.981928,2.177628,NaN,0.121327,15.621042,0.522706,0.150837,1.018531
min,1.000000,1.000000,1.000000,1.000000,0.000000,-6.930000,-200.000000,-4.500000,-0.500000,-80.800000,-12.500000,NaN,-0.300000,-200.000000,1.000000,1.000000,-2.750000
25%,2.000000,1.000000,55.000000,65.000000,1.000000,1.100000,7.000000,0.000000,0.500000,0.000000,0.000000,NaN,0.300000,9.000000,1.000000,1.000000,0.000000
50%,2.000000,1.000000,82.000000,129.000000,1.000000,2.070000,11.500000,0.500000,0.500000,0.000000,0.000000,NaN,0.300000,14.160000,1.000000,1.000000,0.000000
75%,2.000000,1.000000,166.000000,193.000000,1.000000,4.270000,20.730000,1.000000,0.500000,1.650000,0.000000,NaN,0.300000,24.620000,2.000000,1.000000,0.000000
max,2.000000,99.000000,265.000000,265.000000,9.000000,515.890000,2877.500000,8.250000,0.500000,158.520000,935.500000,NaN,0.300000,2878.300000,5.000000,2.000000,2.750000

In [3]:
df2

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [5]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [8]:
#(f'postgresql://{user}:{password}@{host}:{port}/{db}')
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ny_taxi')

In [9]:
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data", con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [10]:
print(pd.io.sql.get_schema(df2, name = "taxi_zone", con = engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [12]:
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0